@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
body {
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
}

.start-cont {
    background-color: #5c2dd5;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    background-color: #7945FF;
    height: 60vh;
    width: 30vw;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    border: 3px solid black;
    box-shadow: 0px 10px black;
}

.menu-btn {
    padding: 12px;
    border: 3px solid black;
    border-radius: 20px;
    width: 80%;
    margin: 10px;
    box-shadow: 0 10px black;
    transition: ease 0.4s;
}

.menu-btn a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn:hover {
    box-shadow: 0 10px #5c2dd5;
    cursor: pointer;
}

.logo {
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.player-vs-cpu {
    background-color: #FD6687;
    color: white;
}

.player-vs-player {
    background-color: #FFCE67;
}

.rules {
    background-color: white;
}

.menu-btn a {
    color: black;
    width: 100%;
}

.rules-parent {
    background-color: #5c2dd5;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-cont {
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    width: 30vw;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 0px 10px black;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.rules-cont .head {
    font-size: 50px;
    text-align: center;
}

.rules-cont p{
    opacity: 0.6;
}

.section-head {
    padding: 0;
    color: #7945FF;
}

.rules-list {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-item span {
    opacity: 0.6;
}

.check-img {
    transform: translate(0, -50%);
}

/* Game CSS */

.game-container {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    background-color: #7945FF;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.head {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-btn {
    border-radius: 20px;
    background-color: #5c2dd5;
    height: 40px;
    padding: 0px 20px;
    color: white;
    font-weight: bold;
    border: none;
}

.board-players {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.player-1, .player-2 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.board {
    height: 632px;
}

.img-board-white {
    transform: translate(0, -102.5%);
}

.score-card {
    width: 8rem;
    height: 10rem;
    background-color: white;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-1-score, .player-2-score {
    font-size: 56px;
}

.score-card h3 {
    margin-top: -10px;
    margin-bottom: 10px;
}

.player-icon {
    height: 54px;
    width: 59px;
    transform: translate(0, -50%);
}